<div>


<div class="row">
	<div class="large-6 columns">
	<label>Basic Load Info:</label><br>
	<form>
		Load Name: <input type="text" name="loadName">
		Load #: <input type="text" name="loadNumber">
		Driver: <select>
			<option>Joe</option>
			<option>Joe</option>
			<option>Joe</option>
			<option>Joe</option>
			<option>Joe</option>
		</select>
		Trailer: <select>
			<option>1</option>
			<option>1</option>
			<option>1</option>
			<option>1</option>
			<option>1</option>
		</select>
		Pickup Numbers: <input type="text" name="pickupNumbers">
	</form>
	</div>
	<div class="large-6 columns">
		<label>Misc Information:</label><br>
	<form>
		Commodity Description: <input type="text" name="commodityDescription">
		Carrier Instructions: <input type="text" name="carrierInstructions">
		Rate Confirmation: <input type="text" name="rateConfirmation">
	</form>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
	<form>
		<label>Pickup Information:</label><br>
		Pickup Name:<input type="text" name="pickupName">
		Pickup Date:<input type="date" name="pickupDate">
		<p>Address:</p>
		Address Line 1:<input type="text" name="pickupAddressLine1">
		Address Line 2:<input type="text" name="pickupAddressLine2">
		City: <input type="text" name="pickupCity">
		State: <input type="text" name="pickupState">
		ZipCode: <input type="text" name="pickupZipcode">
	</form>
	</div>
	<div class="large-6 columns">
	<form>
		<label>Dropoff Information:</label><br>
		Dropoff Name:<input type="text" name="dropoffName">
		Dropoff Date:<input type="date" name="dropoffDate">
		<p>Address:</p>
		Address Line 1:<input type="text" name="dropoffAddressLine1">
		Address Line 2:<input type="text" name="dropoffAddressLine2">
		City: <input type="text" name="dropoffCity">
		State: <input type="text" name="dropoffState">
		ZipCode: <input type="text" name="dropoffZipcode">
	</form>
	</div>
</div>


	





</div>