<div ng-controller="dashboardController">
<!-- link to icons -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<!-- Navbar -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <div class="logo">
      <a href="http://zurb.com/stickers/images/intro-foundation.png"><img src="http://zurb.com/stickers/images/intro-foundation.png" /></a>
    </div>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><a href="#/">Dashboard</a></li>
      <li class="divider"></li>
      <li class=""><a href="#/loads">Loads</a></li>
      <li class="divider"></li>
      <li class=""><a href="#/equipment">Equipment</a></li>
      <li class="divider"></li>
      <li class=""><a href="#/drivers">Drivers</a></li>
      <li class="divider"></li>
      <li class=""><a href="/logout">logout</a></li>
    </ul>
    <ul class="social-icons">
      <li><a href=""><i class="fi-telephone"></i></a></li>
      <li><a href=""><i class="fi-social-linkedin"></i></a></li>
      <li><a href=""><i class="fi-social-facebook"></i></a></li>
    </ul>
  </section>
</nav>

<!-- invoices table     -->
<div class="dashboardTables">
<div class= "row">
	<div class="large-6 columns">
		<table>
  			<thead>
  			<p>Unpaid Invoices:</p>
    			<tr>
      				<th width="150">Invoice #</th>
      				<th width="150">Load Name</th>
      				<th width="150">Date Billed</th>
      				<th width="150">Amount</th>
    			</tr>
  			</thead>
  			<tbody>
   				 <tr>
      				<td>1</td>
      				<td>Walmart_1</td>
      				<td>01/01/2016</td>
      				<td>$2000</td>
    			</tr>

  			</tbody>
		</table>
	</div>
<!-- loads table     -->
	<div class="large-6 columns">
	 	<table>
  			<thead>
  			<p>Loads in Progress:</p>
    			<tr>
      				<th width="150">Load Name</th>
     				<th width="150">Pickup</th>
      				<th width="150">Dropoff</th>
      				<th width="150">Dates</th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr>
      				<td>Walmart_1</td>
      				<td>Victorville, CA</td>
     				<td>Nogales, AZ</td>
     				<td>01/01/2016 - 01/02/2016</td>
    			</tr>
  			</tbody>
		</table>
	</div>
</div>
</div>





</div>
