<div ng-controller="equipmentController">
<!-- link for icons -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<!-- navbar -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <div class="logo">
      <a href="http://zurb.com/stickers/images/intro-foundation.png"><img src="http://zurb.com/stickers/images/intro-foundation.png" /></a>
    </div>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><a href="#/">Dashboard</a></li>
      <li class="divider"></li>
      <li class=""><a href="#/loads">Loads</a></li>
      <li class="divider"></li>
      <li class=""><a href="#/equipment">Equipment</a></li>
    </ul>
    <ul class="social-icons">
      <li><a href=""><i class="fi-telephone"></i></a></li>
      <li><a href=""><i class="fi-social-linkedin"></i></a></li>
      <li><a href=""><i class="fi-social-facebook"></i></a></li>
    </ul>
  </section>
</nav>



</div>