<div ng-controller="loadsController" class="container">
<!-- link for icons -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<!-- Navbar -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <div class="logo">
      <a href="http://zurb.com/stickers/images/intro-foundation.png"><img src="http://zurb.com/stickers/images/intro-foundation.png" /></a>
    </div>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><a href="#/">Dashboard</a></li>
      <li class="divider"></li>
      <li class=""><a href="#/loads">Loads</a></li>
      <li class="divider"></li>
      <li class=""><a href="#/equipment">Equipment</a></li>
    </ul>
    <ul class="social-icons">
      <li><a href=""><i class="fi-telephone"></i></a></li>
      <li><a href=""><i class="fi-social-linkedin"></i></a></li>
      <li><a href=""><i class="fi-social-facebook"></i></a></li>
    </ul>   
  </section>
</nav>

<div id="loadsTable">
	<form ng-model = "searchLoads">
		<input type='text' value='Search Loads' style='width: 30%'>
	</form>
	<table style="width: 100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Pickup Date</th>
				<th>Dropoff Date</th>
				<th>Pickup Location</th>
				<th>Dropoff Location</th>
				<th>Completed</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Walmart_1</td>
				<td>01/01/2016</td>
				<td>01/01/2016</td>
				<td>Victorville, CA</td>
				<td>Victorville, CA</td>
				<td><input type= "checkbox"></td>
			</tr>
		</tbody>
	</table>
</div>


<!-- div to close container -->
</div>