<div class="row">
<!-- dashboard -->
<!-- <p>loads in progress:</p>
<p>unpaid invoices:</p>
<p>map:</p> -->
<!-- equipment -->
<div ng-controller="equipmentController">
  <h1>testing equips</h1>
  <h2>equips#index</h2>
  <table>
    <thead>
      <tr>
        <th>_id</th>
        <th>number</th>
        <th>model</th>
        <th>year</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="equip in equips">
        <td><a href="" ng-click="show(equip._id)" ng-bind="equip._id"></a></td>
        <td ng-bind="equip.number"></td>
        <td ng-bind="equip.model"></td>
        <td ng-bind="equip.year"></td>
        <td ng-bind="equip.created_at | date: 'medium'"></td>
        <td ng-bind="equip.updated_at | date: 'medium'"></td>
      </tr>
    </tbody>
  </table>
  <div class="small-6 columns">
    <h2>equips#create</h2>
    <form>
      <div>
        <label>type:</label>
        <select ng-model="newEquip.type">
          <option value="Truck">Truck</option>
          <option value="Trailer">Trailer</option>
        </select>
      </div>
      <div>
        <label>number:</label>
        <input type="text" ng-model="newEquip.number">
      </div>
      <div>
        <label>model:</label>
        <input type="text" ng-model="newEquip.model">
      </div>
      <div>
        <label>year:</label>
        <input type="text" ng-model="newEquip.year">
      </div>
      <button ng-click="create()">create</button>
    </form>
  </div>
  <div class="small-6 columns">
    <h2>equips#show</h2>
    <ul>
      <li ng-repeat="(key, value) in equip">{{key}}: {{value}}</li>
    </ul>
  </div>
</div>



</div>