.logo {
  width: 40px;
  margin-left: 5px; }

@media only screen and (min-width: 40.063em) {
  .top-bar {
    height: 6rem;
    padding-top: 3rem;
    position: relative; }

  .social-icons {
    position: absolute;
    right: 0;
    top: -45px; }

  .logo {
    width: 70px;
    margin-top: -2.3rem; } }
@media only screen and (min-width: 40.063em) {
  .social-icons {
    top: -35px; } }
